<% include ./partials/header %>
<title>Criminals eSports - Players</title>

<div class="container">
	<div id="headerText">CRIMINALS FORTNITE</div>
	<div class="row player-list justify-content-center">
		<% for (var i = 0; i < Players.criminalsfortnite.length; i++) { %>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="player">
					<img src="<%= Players.criminalsfortnite[i].image %>" alt="Avatar" class="image">
					<div class="middle">
						<div class="text"><%- Players.criminalsfortnite[i].text %></div>
					</div>
				</div>
			</div>
		<% } %>
	</div>

	<div id="headerText">CRIMINALS GIRLS</div>

	<div class="row player-list justify-content-center">
		<% for (var i = 0; i < Players.criminalsgirls.length; i++) { %>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="player">
					<img src="<%= Players.criminalsgirls[i].image %>" alt="Avatar" class="image">
					<div class="middle">
						<div class="text"><%- Players.criminalsgirls[i].text %></div>
					</div>
				</div>
			</div>
		<% } %>
	</div>

	<div id="headerText">CRIMINALS JUNIOR</div>

	<div class="row player-list justify-content-center">
		<% for (var i = 0; i < Players.criminalsjunior.length; i++) { %>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="player">
					<img src="<%= Players.criminalsjunior[i].image %>" alt="Avatar" class="image">
					<div class="middle">
						<div class="text"><%- Players.criminalsjunior[i].text %></div>
					</div>
				</div>
			</div>
		<% } %>
	</div>

	<div>
		<img class="gototopid" src="images/ujlogo2.png" alt="gototop" align="middle">
	</div>
</div>


<% include ./partials/footer %>
